.profileCard {
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}



.name {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.email {
  margin: 0;
  color: gray;
  font-size: 0.9rem;
}

.input {
  width: 100%;
  padding: 7px 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.details {
  margin-top: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.label {
  color: #444;
  font-weight: 500;
}

.value {
  font-weight: bold;
}

.editBtn, .saveBtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.editBtn {
  background: #00c853;
  color: white;
}

.editBtn:hover {
  background: #009f3e;
}

.saveBtn {
  background: #2962ff;
  color: white;
}

.saveBtn:hover {
  background: #0039cb;
}