.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #222;
  background-color: lightgreen;
  padding: 20px;
  border-radius: 12px;
}
.img {
  width: 40%;
  border-radius: 12px;
  margin:0 auto 15px auto;
  display: block;
  object-fit: cover;
}