.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #222;
  background-color: lightgreen;
  padding: 20px;
  border-radius: 12px;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}